{% extends "main/base.html" %}
{% load static %}
{%  block content %}
<header>
  <h1>Система управления</h1>
  <div class="menu">
    <a href="/warehouse/materials/">Склад</a>
    <a href="/ceh/workers/" class="active">Цех</a>
    <a href="/docs/">Документация</a>
    <div class="avatar"><img src="{% static 'main/shutdown.png' %}" /></div>
  </div>
</header>

  <!-- Подвкладки Цех -->
  <div class="submenu" id="submenu-ceh">
    <button data-target="workers"><a href="/ceh/workers/">Работники</a></button>
    <button data-target="defects" class="active">Брак</button>
  </div>

  <!-- Цех -->
  <section id="ceh">
    <div class="table-section" id="defects">
      <h2>Бракованные изделия</h2>
      <div class="filters">
        <input placeholder="Партия">
        <select>
          <option value="">Количество</option>
          <option value="quantity">По возрастанию</option>
          <option value="-quantity">По убыванию</option>
        </select>
        <input placeholder="Описание">
      </div>

      <div class="product-actions">
        <button onclick="filterDefects()">Поиск</button>
        <button onclick="document.getElementById('dialog-add-defect').showModal()">Добавить изделия</button>
        <button onclick="document.getElementById('dialog-edit-entry').showModal()">Изменить запись</button>
        <button onclick="document.getElementById('dialog-delete-defect').showModal()">Удалить запись</button>
      </div>

      <table>
        <thead><tr><th>ID</th><th>Партия</th><th>Количество</th><th>Описание</th><th>Файл</th></tr></thead>
        <tbody>
          {% for d in defects %}
          <tr><td>{{ d.id }}</td><td>{{ d.batch }}</td><td>{{ d.quantity }}</td><td>{{ d.description }}</td><td><button onclick="openDoc(event, {{ d.id }})">Открыть</button></td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <!-- Диалог: Добавить -->
  <dialog class="custom-dialog" id="dialog-add-defect">
    <div class="dialog-header">
      <h2>Добавление новой записи</h2>
    </div>

    <form class="form-styled" onsubmit="performAddDef(event)">
      <select id="add-def-batch">
        {% for b in batches %}
        <option value="{{ b.id }}">{{ b }}</option>
        {% endfor %}
      </select>
      <input type="number" id="add-def-quantity" placeholder="Количество" required>
      <input type="text" id="add-def-description" placeholder="Описание" required>

      <div class="dialog-buttons">
        <button type="submit" class="primary">Добавить</button>
        <button type="button" class="secondary" onclick="this.closest('dialog').close()">Закрыть</button>
      </div>
    </form>
  </dialog>

  <!-- Диалог: Подтверждение добавления -->
<dialog class="custom-dialog" id="dialog-confirm-add-defect">
  <div class="dialog-header">
    <h2>Подтверждение добавления</h2>
  </div>

  <div class="form-styled">
    <p>Вы уверены, что хотите добавить запись: <strong id="confirm-add-data"></strong>?</p>
    <div class="dialog-buttons">
      <button class="primary" onclick="addDef(event)">Да</button>
      <button class="secondary" onclick="this.closest('dialog').close()">Нет</button>
    </div>
  </div>
</dialog>


 <!-- Диалог: Удалить -->
 <dialog class="custom-dialog" id="dialog-delete-defect">
  <div class="dialog-header">
    <h2>Удаление записи</h2>
  </div>

  <form class="form-styled" onsubmit="performDeleteDef(event)">
    <input type="number" id="delete-defect-id" placeholder="ID" required>

    <div class="dialog-buttons">
      <button type="submit" class="primary">Удалить</button>
      <button type="button" class="secondary" onclick="this.closest('dialog').close()">Закрыть</button>
    </div>
  </form>
</dialog>

<!-- Диалог: Подтверждение удаления -->
<dialog class="custom-dialog" id="dialog-confirm-delete-defect">
<div class="dialog-header">
  <h2>Подтверждение удаления</h2>
</div>

<div class="form-styled">
  <p>Вы уверены, что хотите удалить запись <strong id="confirm-delete-data"></strong>?</p>
  <div class="dialog-buttons">
    <button class="primary" onclick="deleteDef(event)">Да</button>
    <button class="secondary" onclick="this.closest('dialog').close()">Нет</button>
  </div>
</div>
</dialog>


<dialog id="dialog-z" class="custom-dialog">
  <div class="dialog-header">
    <h2>Загруженные документы</h2>
  </div>
  <div class="dialog-body">
    <div id="doc-section">
      <div class="uploaded-section">
        <a href="#" target="_blank" title="Скачать документ" id="doc-name">Документ на согласование объёма выпуска</a>
        <button class="delete-doc-btn" onclick="removeUploadedDoc(this)">×</button>
      </div>
    <hr>
    </div>

    <p>Загрузите новую версию документа:</p>
    <input type="file" id="doc-input" accept=".doc,.docx">

    <div class="dialog-buttons">
      <button class="primary" onclick="sendDoc(event)">Отправить</button>
      <button onclick="this.closest('dialog').close()">Закрыть</button>
    </div>
  </div>
</dialog>

<!-- Диалог: подтверждение удаления репорта -->
<dialog id="dialog-confirm-delete-report" class="custom-dialog">
  <div class="dialog-header"><h2>Подтверждение удаления</h2></div>
  <div class="form-styled">
    <p>Вы уверены, что хотите удалить файл?</p>
    <div class="dialog-buttons">
      <button onclick="removeUploadedReport(event)">Да</button>
      <button onclick="this.closest('dialog').close()">Нет</button>
    </div>
  </div>
</dialog>

<!-- Диалог: ID для редактирование строки -->
<dialog id="dialog-edit-entry" class="custom-dialog">
  <div class="dialog-header">
    <h2>Редактирование строки</h2>
  </div>

  <form class="form-styled">
    <div class="form-field"><input type="text" id="edit-id" placeholder="ID" required></div>
    <div class="dialog-buttons">
      <button type="button" onclick="confirmEditEntry(event)">Изменить</button>
      <button type="button" onclick="this.closest('dialog').close()">Отмена</button>
    </div>
  </form>
</dialog>

<!-- Диалог: редактирование строки -->
<dialog id="dialog-edit" class="custom-dialog">
  <div class="dialog-header">
    <h2>Редактирование строки</h2>
  </div>

  <form class="form-styled">
    <div class="form-field">
      <select id="edit-batch">
        {% for b in batches %}
        <option value="{{ b.id }}">{{ b }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-field"><input type="number" id="edit-quantity" placeholder="Количество" required></div>
    <div class="form-field"><input type="text" id="edit-description" placeholder="Описание" required></div>

    <div class="dialog-buttons">
      <button type="button" onclick="confirmEdit(event)">Изменить</button>
      <button type="button" onclick="this.closest('dialog').close()">Отмена</button>
    </div>
  </form>
</dialog>

<!-- Диалог: подтверждение редактирования -->
<dialog id="dialog-confirm-edit" class="custom-dialog">
  <div class="dialog-header"><h2>Подтверждение изменения</h2></div>
  <div class="form-styled">
    <p>Вы уверены, что хотите редактировать ФИО работника <strong id="confirm-edit-id"></strong>: <strong id="confirm-edit-data"></strong>?</p>
    <div class="dialog-buttons">
      <button onclick="edit(event)">Да</button>
      <button onclick="this.closest('dialog').close()">Нет</button>
    </div>
  </div>
</dialog>

  <script>
    let pendingEdit = null;
  function confirmEdit(event){
    event.preventDefault();
    const id = document.getElementById('edit-id').value.trim();
    fetch(`/ceh/defects/get/${id}`).then(response => {
      if (response.status == 404){
        return alert("Нет брака с таким ID")
      }
      if (response.status == 200){
        pendingEdit = {
          batch: document.getElementById('edit-batch').value.trim(),
          description: document.getElementById('edit-description').value.trim(),
          quantity: document.getElementById('edit-quantity').value.trim(),
        }

        document.getElementById("confirm-edit-data").textContent = `
          Партия: ${pendingEdit.batch},
          Количество: ${pendingEdit.quantity},
          Описание: ${pendingEdit.description}
        `;
        document.getElementById("confirm-edit-id").textContent = id;
        document.getElementById('dialog-edit').close();
        document.getElementById('dialog-edit-entry').close();
        document.getElementById('dialog-confirm-edit').showModal();
      }
    })
  }
    function edit(event){
    event.preventDefault();
    const id = document.getElementById("edit-id").value;
    fetch(`/ceh/defects/edit/${id}/`, {
      method: "POST",
      body: JSON.stringify(pendingEdit)
    }).then(response => {
        if (response.status == 202){
          const rows = document.querySelectorAll('table tr');
          rows.forEach(row => {
            if (+row.cells[0].textContent === +id) {
              row.cells[1].textContent = pendingEdit.batch;
              row.cells[2].textContent = pendingEdit.quantity;
              row.cells[3].textContent = pendingEdit.description;
            }
          });

          pendingEdit = null;
          document.getElementById("dialog-edit").querySelector("form").reset();
          document.getElementById("dialog-edit").close();
          document.getElementById("dialog-confirm-edit").close()
        }
    })
  }

    function confirmEditEntry(event){
      event.preventDefault();
      const id = document.getElementById('edit-id').value.trim();
      fetch(`/ceh/defects/get/${id}`).then(response => {
        if (response.status == 404){
          return alert("Нет брака с таким ID")
        }
        if (response.status == 200){
          response.json().then(response => {
            const d = response.defect;

            fetch(`/batch/all/`).then(response => response.json()).then(response => response.batches).then(
              batches => {
                let selectHTML = '';

                batches.forEach(b => {
                  selectHTML += `
                  <option value=${b.id} ${+b.id === +d.batch ? 'selected' : ''}>${b.name}</option>
                  `
                })
                document.getElementById('edit-batch').innerHTML = selectHTML;
              }
            )

            document.getElementById('edit-description').value = d.description;
            document.getElementById('edit-quantity').value = d.quantity;

            document.getElementById('dialog-edit').showModal();
          })
        }
      })
    }

    let sendDocDefId = null;
    function openDoc(event, id){
      fetch(`/ceh/defects/get/${id}/`).then(
        response => response.json()
      ).then(r => {
        const d = r.defect;
        sendDocDefId = d.id;
        if (d.report !== undefined && d.report !== null){
          document.getElementById("doc-section").innerHTML = `
              <div class="uploaded-section">
                <a href="#" target="_blank" title="Скачать документ" id="doc-name">${d.report_name}</a>
                <button class="delete-doc-btn" onclick="confirmDeleteReport(event, ${d.id})">×</button>
              </div>
              <hr>
          `
        }
        else{
          document.getElementById("doc-section").innerHTML = ``;
        }
        document.getElementById('dialog-z').showModal();
      })
    }

    function sendDoc(event){
      const fileInput = document.getElementById('doc-input');
      const formData = new FormData();
      formData.append('file', fileInput.files[0]);

      // Отправляем файл на сервер
      fetch(`/ceh/defects/edit/${sendDocDefId}/`, {
          method: 'POST',
          body: formData,
      })
      .then(response => {
          if (response.ok) {
              document.getElementById('dialog-z').close();
          }
          else{
            throw new Error('Network response was not ok.');
          }
      })
      .then(data => {
          alert('Файл успешно загружен!');
      })
      .catch(error => {
          console.error('Ошибка:', error);
          alert('Произошла ошибка при загрузке файла.');
      });
    }

    function deleteDef(event){
      event.preventDefault()
      const id = document.getElementById("delete-defect-id").value.trim();
      fetch(`/ceh/defects/delete/${id}/`, {
        method: "DELETE",
      }).then(response => {
        if (response.status == 203){
            const rows = document.querySelectorAll("tr")
            rows.forEach(r => {
              if (+r.cells[0].textContent === +id){
                r.remove()
              }
            })

            document.getElementById("dialog-delete-defect").querySelector("form").reset();
            document.getElementById("dialog-confirm-delete-defect").close();
          }
        })
    }
    function performDeleteDef(event){
      event.preventDefault();

      const id = document.getElementById("delete-defect-id").value.trim();
      fetch(`/ceh/defects/get/${id}/`).then(response => {
        if (response.status == 200){
          response.json().then(response => {
            const d = response.defect;
            document.getElementById('confirm-delete-data').textContent = `
            ID: ${id},
            Партия: ${d.batch},
            Количество: ${d.quantity},
            Описание: ${d.description}
            `;
            document.getElementById('dialog-delete-defect').close();
            document.getElementById('dialog-confirm-delete-defect').showModal();
          })
        }
        if (response.status == 404){
          return alert("Брак с таким ID не найден")
        }
      })
    }

    let pendingAddDef = null;

    function addDef(event){
      fetch(`/ceh/defects/add/`, {
        method: "POST",
        body: JSON.stringify(pendingAddDef)
      }).then(response => {
        if (response.status == 201){
          response.json().then(d => {
            d=d.defect;
            const tbody = document.querySelector("tbody");
            const row = document.createElement("tr");

            row.innerHTML = `<td>${d.id}</td><td>${d.batch}</td><td>${d.quantity}</td><td>${d.description}</td><td><button onclick="openDoc(event, ${ d.id })">Открыть</button></td>`;
            tbody.prepend(row);

            document.getElementById("dialog-add-defect").querySelector("form").reset();
            document.getElementById("dialog-confirm-add-defect").close();
          })
        }
        if (response.status == 404){
          response.json().then(r => {
            return alert(r.message);
          })
        }
      })
    }
    function performAddDef(event){
      event.preventDefault();

      const batch = document.getElementById("add-def-batch").value.trim();
      const qty = document.getElementById("add-def-quantity").value.trim();
      const desc = document.getElementById("add-def-description").value.trim();

      pendingAddDef = {
        batch: batch,
        quantity: qty,
        description: desc
      }

      document.getElementById('confirm-add-data').textContent = `
        Партия: ${batch},
        Количество: ${qty},
        Описание: ${desc}
      `;

      document.getElementById('dialog-add-defect').close();
      document.getElementById('dialog-confirm-add-defect').showModal();
    }


let pendingDocToDelete = null;

function confirmRemoveUploaded() {
  if (pendingDocToDelete) {
    pendingDocToDelete.remove();
    pendingDocToDelete = null;
  }
  document.getElementById('dialog-confirm-delete-docfile').close();
}

  function filterDefects(){
    const batch = document.querySelector(".filters").children[0].value;
    const quantity = document.querySelector(".filters").children[1].value;
    const description = document.querySelector(".filters").children[2].value;

    fetch(`/ceh/defects/filter/?batch=${batch}&quantity=${quantity}&description=${description}`).then(response => {
      if (response.status == 200){
        response.json().then(res => {
          const tbody = document.querySelector("tbody");
          tbody.innerHTML = '';

          res.defects.forEach(d => {
            const row = document.createElement("tr");
            row.innerHTML = `<td>${d.id}</td><td>${d.batch}</td><td>${d.quantity}</td><td>${d.description}</td><td><button onclick="openDoc(event, ${ d.id })">Открыть</button>`
            tbody.appendChild(row)
          });
        })
      }
    })
  }

  function confirmDeleteReport(event, id){
    event.preventDefault();
    deleteReportDefId = id;

    document.getElementById("dialog-confirm-delete-report").showModal();
  }

  let deleteReportDefId = null;
  function removeUploadedReport(event, id){
      event.preventDefault();
      fetch(`/ceh/defects/${deleteReportDefId}/delete-report/`, {
        method: "DELETE"
      }).then(response => {
        if (response.ok){
          alert("Документ удалён!");
          document.getElementById("dialog-z").close();
          document.getElementById("dialog-confirm-delete-report").close();
        }
      })
    }
  </script>
{% endblock  %}
