{% extends "main/base.html" %}
{% load static %}
{% block content %}
<header>
  <h1>Система управления</h1>
  <div class="menu">
    <a href="/warehouse/materials/">Склад</a>
    <a href="/ceh/workers/" class="active">Цех</a>
    <a href="/docs/">Документация</a>
    <div class="avatar"><img src="{% static 'main/shutdown.png' %}" /></div>
  </div>
</header>

  <!-- Подвкладки Цех -->
  <div class="submenu" id="submenu-ceh">
    <button data-target="workers" class="active"><a href="/ceh/workers/">Работники</a></button>
    <button data-target="defects"><a href="/ceh/defects/">Брак</a></button>
  </div>

  <!-- Цех -->
  <section id="ceh">
    <div class="table-section" id="workers">
      <h2>Работники</h2>
      <div class="filters">
        <input placeholder="ID">
        <input placeholder="ФИО">
        <select>
          <option>Все статусы</option>
          <option>В процессе</option>
          <option>Завершено</option>
        </select>
        <input placeholder="Партия">
      </div>

      <div class="material-actions">
        <button onclick="filterWorkers()">Поиск</button>
        <button onclick="document.getElementById('dialog-add-worker').showModal()">Добавить строку</button>
        <button onclick="document.getElementById('dialog-edit-worker').showModal()">Изменить строку</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Статус</th>
            <th>Роль</th>
            <th>Партия</th>
            <th>Начало</th>
            <th>Окончание</th>
          </tr>
        </thead>
        <tbody>
          {% for w in workers %}
            <tr><td>{{ w.id }}</td><td>{{ w.fullname }}</td><td>{{ w.status }}</td><td>{{ w.role }}</td><td>{{ w.batch }}</td><td>{{ w.date_begin }}</td><td>{{ w.date_end }}</td></tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

 <!-- Диалог добавления Диалог подтверждения -->
 <dialog id="dialog-add-worker" class="custom-dialog">
  <div class="dialog-header"><h2>Добавить работника</h2></div>
  <form class="form-styled" onsubmit="addWorkerRow(event)">
    <div class="form-field"><label>Пользователь</label><select id="add-worker-user" required>
      {% for u in users %}
      <option value="{{u.id}}">{{ u }}</option>
      {% endfor %}
    </select></div>
    <div class="form-field"><label>Статус</label><input type="text" id="add-worker-status" required></div>
    <div class="form-field">
      <label>Партия</label>
    <select id="add-worker-batch" required>
      {% for b in batches %}
      <option value="{{ b.id }}">{{ b }}</option>
      {% endfor %}
    </select>
    </div>
    <div class="form-field"><label>Начало</label><input type="date" id="add-worker-start" required></div>
    <div class="form-field"><label>Окончание</label><input type="date" id="add-worker-end" required></div>
    <div class="dialog-buttons">
      <button type="submit" class="primary">Добавить</button>
      <button type="button" onclick="this.closest('dialog').close()">Закрыть</button>
    </div>
  </form>
</dialog>

<dialog id="dialog-confirm-add-worker" class="custom-dialog">
  <div class="dialog-header"><h2>Подтверждение добавления</h2></div>
  <div class="form-styled">
    <p>Добавить работника: <strong id="confirm-add-worker-data"></strong>?</p>
    <div class="dialog-buttons">
      <button onclick="performAddWorker()">Да</button>
      <button onclick="document.getElementById('dialog-confirm-add-worker').close()">Нет</button>
    </div>
  </div>
</dialog>

  </section>

  <!-- Диалог: редактирование строки -->
  <dialog id="dialog-edit-worker" class="custom-dialog">
    <div class="dialog-header">
      <h2>Редактирование строки</h2>
    </div>

    <form class="form-styled">
      <div class="form-field"><input type="text" id="edit-id" placeholder="ID" required></div>
      <div class="form-field">
        <select id="edit-batch">
          {% for b in batches %}
          <option value="{{ b.id }}">{{ b }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-field"><input type="date" id="edit-date-begin" placeholder="Начало" required></div>
      <div class="form-field"><input type="date" id="edit-date-end" placeholder="Конец" required></div>
      <div class="form-field"><input type="text" id="edit-status" placeholder="Статус" required></div>
      <div class="dialog-buttons">
        <button type="button" onclick="confirmEdit(event)">Изменить</button>
        <button type="button" onclick="this.closest('dialog').close()">Отмена</button>
      </div>
    </form>
  </dialog>

  <!-- Диалог: подтверждение редактирования -->
  <dialog id="dialog-confirm-edit" class="custom-dialog">
    <div class="dialog-header"><h2>Подтверждение изменения</h2></div>
    <div class="form-styled">
      <p>Вы уверены, что хотите редактировать ФИО работника <strong id="confirm-edit-id"></strong>: <strong id="confirm-edit-data"></strong>?</p>
      <div class="dialog-buttons">
        <button onclick="edit(event)">Да</button>
        <button onclick="this.closest('dialog').close()">Нет</button>
      </div>
    </div>
  </dialog>
  <script>

let pendingEdit = null;
  function confirmEdit(event){
    event.preventDefault();
    const id = document.getElementById('edit-id').value.trim();
    fetch(`/ceh/workers/get/${id}`).then(response => {
      if (response.status == 404){
        return alert("Нет работника с таким ID")
      }
      if (response.status == 200){
        pendingEdit = {
          batch: document.getElementById('edit-batch').value.trim(),
          date_begin: document.getElementById('edit-date-begin').value.trim(),
          date_end: document.getElementById('edit-date-end').value.trim(),
          status: document.getElementById('edit-status').value.trim(),
        }

        document.getElementById("confirm-edit-data").textContent = `
          Партия: ${pendingEdit.batch},
          Начало: ${pendingEdit.date_begin},
          Конец: ${pendingEdit.date_end},
          Статус: ${pendingEdit.status}
        `;
        document.getElementById("confirm-edit-id").textContent = id;
        document.getElementById('dialog-edit-worker').close();
        document.getElementById('dialog-confirm-edit').showModal();
      }
    })
  }

  function edit(event){
    event.preventDefault();
    const id = document.getElementById("edit-id").value;
    fetch(`/ceh/workers/edit/${id}`, {
      method: "POST",
      body: JSON.stringify(pendingEdit)
    }).then(response => {
        if (response.status == 202){
          const rows = document.querySelectorAll('table tr');
          rows.forEach(row => {
            if (+row.cells[0].textContent === +id) {
              row.cells[2].textContent = pendingEdit.status;
              row.cells[4].textContent = pendingEdit.batch;
              row.cells[5].textContent = pendingEdit.date_begin;
              row.cells[6].textContent = pendingEdit.date_end;
            }
          });

          pendingEdit = null;
          document.getElementById("dialog-edit-worker").querySelector("form").reset();
          document.getElementById("dialog-edit-worker").close();
          document.getElementById("dialog-confirm-edit").close()
        }
    })
  }


  function openEditDoc() {
  const id = document.getElementById('edit-doc-id-input').value.trim();
  if (!id) {
    alert("Пожалуйста, введите ID заявки.");
    return;
  }

  // Здесь можешь подключить подгрузку данных по ID
  document.getElementById('dialog-edit-doc-id').close();
  document.getElementById('dialog-edit-doc-entry').showModal();
}


let pendingWorker = {};

function addWorkerRow(e) {
  e.preventDefault();
  const select = document.getElementById("add-worker-user");
  const workerString = select.querySelectorAll("option")[select.selectedIndex].text
  pendingWorker = {
    user: select.value,
    status: document.getElementById('add-worker-status').value,
    batch: document.getElementById('add-worker-batch').value,
    date_begin: document.getElementById('add-worker-start').value,
    date_end: document.getElementById('add-worker-end').value
  };

  document.getElementById('confirm-add-worker-data').textContent =
    `Пользователь: ${workerString}, Статус: ${pendingWorker.status}, Партия: ${pendingWorker.batch}, Начало: ${pendingWorker.date_begin}, Окончание: ${pendingWorker.date_end}`;

  document.getElementById('dialog-add-worker').close();
  document.getElementById('dialog-confirm-add-worker').showModal();
}

function performAddWorker() {
  const tbody = document.querySelector('#workers tbody');
  const row = document.createElement('tr');
  fetch(`/ceh/worker/add/`, {
    method: "POST",
    body: JSON.stringify(pendingWorker)
  }).then(response => {
    if (response.status == 201){
      response.json().then(w => {
        w = w.worker
        row.innerHTML = `<td>${w.id}</td><td>${w.fullname}</td><td>${w.status}</td><td>${w.batch}</td><td>${w.role}</td><td>${w.date_begin}</td><td>${w.date_end}</td>`;
        tbody.prepend(row);

        document.getElementById('dialog-confirm-add-worker').close();
      })
    }

    if (response.status == 404){
      response.json().then(r => {
        return alert(r.message);
      })
    }
  })
}


function filterWorkers() {
  const id = document.querySelector(".filters").children[0].value;
  const fullname = document.querySelector(".filters").children[1].value;
  const status = document.querySelector(".filters").children[2].value;
  const batch = document.querySelector(".filters").children[3].value;

  fetch(`/ceh/workers/filter/?id=${id}&fullname=${fullname}&status=${status == "Все статусы" ? "" : status}&batch=${batch}`).then(response => response.json()).then(response => {
    const tbody = document.querySelector("tbody");
    tbody.innerHTML = '';
    response.workers.forEach(w => {
      const row = document.createElement('tr');
      row.innerHTML = `<td>${w.id}</td><td>${w.fullname}</td><td>${w.status}</td><td>${w.role}</td><td>${w.batch}</td><td>${w.date_begin}</td><td>${w.date_end}</td>`;
      tbody.appendChild(row);
    })
  })
}
  </script>

{% endblock %}
